<ng-container>
  <div #list class="infinite-list-container" (scroll)="onScroll($event)">
    <div
      class="infinite-list-phantom"
      [ngStyle]="{ height: listHeight + 'px' }"
    ></div>
    <div class="infinite-list" [ngStyle]="{ transform: getTransform }">
      <div
        #items
        class="infinite-list-item"
        *ngFor="let item of visibleData"
        [ngStyle]="{ height: itemSize + 'px', lineHeight: itemSize + 'px' }"
      >
        <span
          *ngFor="let col of cols; let idx = index"
          [class]="'col col-' + idx + '' + ' col-' + col.name"
          [style.flex]="col.flex"
          >{{ item[col.name] }} {{ col.flex }}</span
        >
      </div>
    </div>
  </div>
</ng-container>
